.wrapper {
  position: relative;
  margin: 20px 0;
  width: 100%;

  .fieldWrapper {
    position: relative;
  }

  .label {
    position: absolute;
    padding: 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease all;
    pointer-events: none;
    background: none;
    color: $main-text-color;
  }

  .field:focus + .label,
  .label.focused {
    top: 0px;
    font-size: 0.75em;
  }

  .field {
    width: 100%;
    padding-top: 8px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid $header-background-color;
    outline: none;
    background: none;
    color: $main-text-color;

    &.error {
      border-color: $danger-color;
    }
  }

  .errorText {
    color: $danger-color;
    font-size: 0.75em;
    height: 0.75em;
    margin-top: 4px;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
  }
}
