// colors
$main-text-color: #4a628a;
// $main-background-color: #7ab2d3;
$primary-color: #7ab2d3;
$main-background-color: #fff;
$header-background-color: #b9e5e8;
$while-color: #fff;
$danger-color: #f76c6c;

$header-height: 50px;
$content-inline-padding: 3em;
$content-vertical-padding: 1em;
$content-max-width: 1000px;

// fonts
$desktop-h1-font-size: 1.25em;
$desktop-text-font-size: 1em;
