// colors
$main-text-color: #000;
$main-background-color: #7ab2d3;
$header-background-color: #b9e5e8;

$header-height: 50px;
$content-inline-padding: 3em;
$content-vertical-padding: 1em;

// fonts
$desktop-h1-font-size: 1.25em;
$desktop-text-font-size: 1em;
