@use './reset.scss';

body,
#root {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-color: $main-background-color;
  font-weight: 900;
  font-family: 'Roboto', sans-serif !important;
}

* {
  box-sizing: border-box;
  color: $main-text-color;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app__content {
    flex: 2;
    padding: $content-vertical-padding $content-inline-padding;
    position: relative;
    overflow: hidden;
  }
}

h1 {
  font-size: $desktop-h1-font-size;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  color: $main-text-color;
  text-decoration: none;
  font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $while-color inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $main-text-color !important;
}
