$gray: #ccc;

.variants,
.variant {
  display: flex;
  align-items: center;
  justify-content: center;
}

.variants {
  flex-direction: column;
  gap: 12px;
}

.variant {
  cursor: pointer;
  width: 100%;
  outline: none;
  background: none;
  border: 1px solid $gray;
  border-radius: 8px;
  gap: 0.5rem;
  padding: 0.5rem;

  img {
    max-width: 30px;
  }
}

.variantsMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .line {
    flex: 1;
    height: 1px;
    background-color: $gray;
    margin: 0 8px;
  }

  span {
    font-weight: 400;
  }
}
