.container {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
  max-width: 1400px;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .header__title {
      min-width: fit-content;
    }

    .header__search {
      width: 50%;
    }
  }
}
