$header-vertical-padding: 0.5em;
$header-title-height: 30x;
$link-padding: 12px;

:global(.app:not(:has(.unwidth))) {
  .header__content {
    max-width: $content-max-width;
  }
}

.header {
  background-color: $header-background-color;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .header__content {
    display: flex;
    padding: $header-vertical-padding $content-inline-padding;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
  }

  .header__title {
    display: flex;
    align-items: center;
    gap: $link-padding;

    img {
      max-height: $header-title-height;
    }

    h1 {
      color: $primary-color;
    }
  }

  .header__links {
    display: flex;
    align-items: center;
    gap: $link-padding;

    a:not(:last-child) {
      padding-right: $link-padding;
      border-right: 2px solid;
    }

    a.active {
      text-decoration-line: underline;
      text-underline-offset: 4px;
    }
  }
}
