$green-color: rgba(208, 247, 169, 0.4);
$shadow-color: rgba(0, 0, 0, 0.1);
$inline-padding: 3rem;
$toolbar-height: 20px;
$toolbar-margin-bottom: 1rem;

.container {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  border-radius: 16px;
  background-color: #fff;

  .tableContainer {
    height: calc(100% - $toolbar-height - $toolbar-margin-bottom);
    overflow: hidden;

    :global(.MuiDataGrid-root) {
      border: none;
    }
  }

  .toolbar {
    gap: 2rem;
    padding-inline: $inline-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $toolbar-margin-bottom;
    height: $toolbar-height;
    box-sizing: border-box;

    .toolbar__buttons {
      display: flex;
      align-items: center;
      gap: 8px;

      button {
        min-width: 0;
        padding: 0;
      }
    }
  }

  :global(.MuiDataGrid-columnHeader) {
    background: $green-color;
  }

  .loaderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
